@font-face {
  font-family: comicFont;
  src: url(./Assets/Fonts/Adventure.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: #f11e22;
  align-items: center;
}

.components {
  display: flex;
  flex-direction: row;
}

.container__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
